<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>수정하기</title>
    <link rel="icon" href="/public/img/logo.png" />
    <link rel="stylesheet" href="/public/css/eidt.css" />
  </head>
  <body>
    <!--  -->
    <header class="hd mw1">
      <div class="title_box">
        <div class="fork_img">
          <img src="/public/img/fork.png" alt="포크" />
        </div>
        <a href="/" class="title_detail">
          <span>Today's MENU</span>
          <span>in hyun_sikdang</span>
        </a>
        <div class="spoon_knife_img">
          <img src="/public/img/spoon_knife.png" alt="수저" />
        </div>
      </div>
    </header>
    <!-- <form action="/edit/<%= post._id %>" method="post"> -->
    <form action="/edit?_method=PUT" method="post">
      <section class="add_con_bg mw1">
        <div class="clip2_img">
          <img src="/public/img/clip2.png" alt="클립2" />
        </div>

        <div class="add_con">
          <div class="add_detail">
            <input type="text" name="id" value="<%= post._id %>" hidden />
            <label class="menu_add"
              ><span>메뉴명</span><span>:</span>
              <input
                type="text"
                name="menu"
                placeholder="메뉴명을 입력해주세요"
                value="<%= post.postMenu %>"
            /></label>
            <label class="category_add"
              ><span>카테고리</span><span>:</span>
              <!-- <select name="category" class="cate_select">
                <option value="none">=선택=</option>
                <option value="한식" <%= post.postCategory === '한식' ? 'selected' : '' %>>한식</option>
                <option value="양식" <%= post.postCategory === '양식' ? 'selected' : '' %>>양식</option>
                <option value="일식" <%= post.postCategory === '일식' ? 'selected' : '' %>>일식</option>
                <option value="중식" <%= post.postCategory === '중식' ? 'selected' : '' %>>중식</option>
                <option value="기타" <%= post.postCategory === '기타' ? 'selected' : '' %>>기타</option>
              </select> -->
              <select name="category" class="cate_select">
                <option value="<%= post.postCategory %>">
                  <%= post.postCategory %> (기존선택)
                </option>
                <option value="한식">한식</option>
                <option value="양식">양식</option>
                <option value="일식">일식</option>
                <option value="중식">중식</option>
                <option value="기타">기타</option>
              </select>
              <span class="select_error">카테고리를 선택해주세요.</span>
            </label>
            <label class="photo_add"
              ><span>사진 URL</span><span>:</span>
              <input
                type="text"
                name="photoUrl"
                placeholder="이미지가 없다면 빈칸으로 작성해주세요."
                value="<%= post.postPhotoUrl %>"
            /></label>
            <label class="coment_add"
              ><span>코멘트</span><span>:</span>
              <input
                type="text"
                name="comment"
                placeholder="음식에 대한 간단한 코멘트를 작성해주세요."
                value="<%= post.PostComent %>"
            /></label>
            <label class="recipe_add"
              ><span>레시피</span><span>:</span>
              <textarea name="recipe" cols="75" rows="5">
                  <%= post.PostRecipe %></textarea
              >
            </label>
          </div>
        </div>
      </section>
      <div class="edit_button_box mw1">
        <input class="edit_button" type="submit" value="수정완료" />
      </div>
    </form>

    <div class="bottom_img">
      <img src="/public/img/bottom_img.png" alt="하단이미지" />
    </div>

    <script>
      // const $select = document.querySelector(".cate_select");
      // const $selectError = document.querySelector(".select_error");
      // const $editButton = document.querySelector(".edit_button");

      // $editButton.addEventListener("click", (e) => {
      //   if ($select.value === "none") {
      //     e.preventDefault(); // submit 막기
      //     alert("카테고리를 선택해주세요."); // 경고창 띄우기
      //     $selectError.classList.add("on");
      //   }
      // });
    </script>
  </body>
</html>
